extends layout
block content
  div(class='jumbotron')
    div(class='container')
      h1  Frequency calculator
      form(action='/', method='post')
        div(class='form-group')
          label(for='numberInput') Enter Number of words
          input(type='number', name='numberInput', class='form-control', placeholder='5', id='numberInput', autofocus='true', required='true')
        button(type='submit', class='btn btn-primary') Get Data
