extends layout

block content
  h1= title
  a(href='/')
    button(type='button', class='btn btn-primary') Go Back
  table(class='table mt-3')
    thead
      tr
        th  Letter
        th  Frequency
    tbody
      each key in data
        tr
          td= key.letter
          td= key.value
